AddDefaultCharset utf-8
RewriteEngine on
#RewriteRule (.*)\.js$ index.php?url=$1.js [L,QSA]
RewriteRule (.*)\.css$ index.php?url=$1.css [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php?url=/$1 [QSA,L]
